# Environment management
python-dotenv

# Date and time handling
datetime

# Core data libraries
pandas
numpy

# Data scraping & web APIs
telethon
python-telegram-bot

# Text preprocessing (Amharic-specific)


# NLP & Transformers
transformers
datasets
seqeval
tokenizers

# Interpretability
shap
lime

# Visualization
matplotlib
seaborn

# Interactive analysis
jupyterlab
streamlit

# Testing
pytest

# Versioning
dvc